<!doctype html>
<html>

<head>
    
    <title>EPD PDF Compressor</title>

    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    
</head>

<body>

    <img height="auto" width="600" src="https://6563.mjt.lu/tplimg/qh0s/b/0tl3x/640k7.png" >								
    
    <h1>Compress PDF files</h1>

    {% block content %}
    {% endblock %}


    <img height="auto" width="600" style="margin-top: 25px;" src="https://6563.mjt.lu/img/qh0s/b/mh4ls/640kp.png" >


    <p style="text-align:center; margin: 25px 20px;"> 
        <span style="font-size:13px;color:#55575d;line-height:22px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in vulputate purus, et iaculis purus. 
            Morbi tempor accumsan augue eget ornare. Quisque eget libero pharetra, pretium eros ac, molestie risus. 
        </span>
	</p>

</body>