{% extends "base_template.html" %}
{% block content %}
  
  <p>Your file has been compressed and is ready to be downloaded.</p>
  <p>{{ file }} - {{ file_size }} </p>
  
  <div style="text-align: center; margin: 20px 0px 25px 0px;">

    <form action="{{ url_for('download_file', filehash=filehash) }}">
      <p><button type="submit" value="Download" style="margin-top: 20px;">Download</button></p>
    </form>

    <form action="{{ url_for('index')}}">
      <p><button type="submit" value="Compress another file">Compress another file</button></p>
    </form>
  </div>

{% endblock %}